<% include ../partials/header %>
	<div class="row">
		<div class="col-md-3">
			<h4 class="text-capitalize"><%= campground.name.toLowerCase() %></h4>
			<p class="text-muted">Submitted By <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></p>
			<div class="card">
				<div class="card-body">Google map space<br><br><br><br><br><br><br><br><br></div>
			</div>
			<div class="btn-group d-flex mt-5">
				<button class="btn btn-outline-secondary w-100">Previous</button>
				<button class="btn btn-outline-secondary w-100">Next</button>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card mb-2">
				<img src="<%= campground.image %>" class="card-img-top" alt="><%= campground.name %>">
				<div class="card-body">
					<% if(Number(campground.price) === 0){ %>
						<h5 class="float-right">Free</h5>
					<%} else { %>
						<h5 class="float-right">$<%= campground.price %>/night</h5>
					<% } %>
					<p class="card-text"><%= campground.description %></p>
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
					<a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
					<form class="delete-form" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-danger">Delete</button>
					</form>
					<% } %>
				</div>
			</div>
			<div class="card mb-4">
				<div class="card-body">
					<div class="text-right">
						<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
					</div>
				<hr>
				<div class="row">
				<% campground.comments.forEach(function(comment){ %>
					<div class="col-md-12">
						<strong><%= comment.author.username%></strong>
						<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
						<div>
						<%= comment.text%>
						
						<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
							<div class="float-right">
								<a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit">Edit</a>
								<form class="delete-form" action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
									<input type="submit" class="btn btn-sm btn-danger" value="Delete">
								</form>
							</div>
						<% } %>
						<hr>
					</div>
				</div>	
				<% }) %>
				</div>
			</div>
		</div>
	</div>
<% include ../partials/footer %>
